# Admin Credentials
ADMIN_PASSWORD=your_secure_password
ADMIN_EMAIL=xpeee01@gmail.com

# Auth
JWT_SECRET=zbusx5wYVG5SDugis6SDdad5d325dew4f364wef36a1
NODE_ENV=development

# Cloudinary
CLOUDINARY_CLOUD_NAME=dw2dsrhfb
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_PRESET=Zunayed Academy
